body{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
background: linear-gradient(black ,transparent)    
}
header{
    display: flex;
    
}
.nav-bar{
    display: flex;
    align-content: space-between;
    flex-direction: row;
    width: 100%;
   
  }
  .nav-btns{
      text-decoration: none;
      color: white;
  }
h1{
    color: white;
}
 li{
     display: inline-block;
     padding: 2rem;
     border: 2px solid red;
     border: none;
     color: white;
     cursor: pointer; 
}
#dots{
    background-color: white;
     display: none;
     width: 3rem;
    height: 3rem; 
    border: 2px solid cyan;
    background-color: cyan;
    border-radius: 40px;
    margin-top: 1rem;
}
.nav-bars{
   
    position: absolute;
    right: 2rem;
    top: 1.5rem;
   
}
.nav-btn{
    display: inline-block;
    text-decoration: none;
    padding: 0.6rem;
    border: 2px solid red;
    background-color: red;
    color: white;
    cursor: pointer;
    border-radius: 8px;
}
.bda-dabba{
    width: 80%;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(425px,1fr));
    column-gap: 8rem;
   
}
.first {
  max-width: fit-content;
  
}
#section-text{
   
}



.welcome{
    color: rgb(228, 60, 60);
    font-size: 2rem;
}
.head{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
     background: linear-gradient(skyBlue,transparent); 
    /* background-color: skyblue; */
}
.nav-text{
    display: flex;
   align-items: center;
   
    font-size: 3rem;
    
    background: black;
}

.contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.paneer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70%;
    background: linear-gradient(cyan,transparent);
}
.image{
  width: 10rem;
  height: 10rem;
}
.menu-text{
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    color: black;
}
.price{
    font-weight: 600;
    font-size: 2rem;
}
.count{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    width: fit-content;
    border: 2px solid black;
    background-color: white;
}
.minus{
    text-decoration: none;
    align-items: center;
    color: black;
    font-size: 1.5rem;
    border: 1px solid black;
    width: 1.6rem;
    /* margin-bottom:1rem; */
    /* padding-right: 1rem;  */
      
}
.text{
    width: 30px; 
    height: 27px;
}
.plus{
    text-decoration: none;
     font-size: 1.5rem; 
    color: black;
    border: 1px solid black;
    /* margin-bottom:0.8rem; */
    /* padding-left: 1rem; */
}
.menu-text{
    color: black;
}
.total-btn{
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 20rem;
    border: 2px solid red;
    border: none;
    background-color: aqua;
    border-radius: 12px;
}

#total-quantity{
    display: flex;
    text-decoration: none;
   align-items: center;
    color: black;
    
    
    
    padding-right: 5rem;
}
#grand-text{
    color: blueviolet;
}
#total{
    
    height: 2rem;
}
#index{
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
     border: 2px solid red;
    background-color: red; 
}

.total-quantity{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
@media screen and (max-width:480px){
   .nav-bar{
       /* margin-top: 2rem; */
       display: flex;
       flex-wrap: wrap;
   }
   
   .nav-bar h1{
        font-size: 1.5rem;
   }
   #dots{
    display: flex;
    flex-direction: row;
    justify-content: right;
     position: relative;
     left: 10rem;
     bottom: 4.5rem;
     cursor: pointer;
}
   .nav-bar .nav-btns{
       display: none;
   }
   .nav-bar .nav-bars{
       position: absolute;
       margin-right: 0;
       margin-top: 1.2rem;
       display: none;
       
}

    

   .nav-bar .nav-bars .nav-btn{
       font-size: 0.8rem;
   }
   .bda-dabba{
       margin-top: 5rem;
   }
    .img-element .first{
       width: 100%;
       
   }
   #main-text h1{
       color: black;
   }
   .image{
       width: 100%;
   }
   .price{
       color: white;
   }
   .menu-text{
       color: antiquewhite;
   }
   .contents{
       background-color: black;
   }
   /* .hamburger{
        display: flex;
       flex-direction: column; 

   } */
   .nav-bar{
       display: flex;
       align-items: center;
      
       /* justify-content: end; */
   }
   #dots{
        display: block;
        /* flex-direction: column; */
        position: fixed;
        top: 0;
        margin-left: 10rem;
        /* right: 10rem; */
   }
   .total-btn{
   position: fixed;
   right: 0;
   width: 100%; 
   }
}